@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html {
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif; 
}

.nav-link {
    background-color: inherit;
    border-radius: 10px;
    transition: background-color 500ms;
    padding: 15px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    border-radius: 10px;
}
.main-image {
    margin-bottom: 75px;
    box-shadow: 0px 15px 22px 0px var(--main-color);
}

.container {
  overflow: hidden;
  position: relative;
}

.container::before {
  content: '\00a0';
}

body {
    margin: 5px;
    padding: 5px;
}

.card {
    padding-top: 10px;
}

/* Don't remove to keep footer looking nice! Please! */
.footer-bg {
    background-image: url("images/PrettyBackgroundImage.jpg");
    background-size: cover;
    background-position: center;
}

.small-border-radius {
    border-radius: 7px;
}
